/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */


/* =============================================================
GOOGLE FONT
============================================================ */

@import url('http://fonts.googleapis.com/css?family=Ubuntu'); /* FREE GOOGLE FONT */
@import url('http://fonts.googleapis.com/css?family=Oswald'); /* FREE GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


/* =============================================================
GENERAL STYLES
============================================================ */
*{
    margin: 0;
    padding:  0;
}
html{
    height: 100%;
}

body {
font-family: 'Ubuntu', sans-serif;
color: #FFF;
background-color: #494949;
height: 100%;
}

section {
padding-top: 80px;
padding-bottom: 40px;
}

a{
    color:  #FF7640;
    text-decoration: none;
}
a:hover{
    color:  #FF7640;
    text-decoration: none;
}

.pad-bottom {
padding-bottom: 60px;
}

.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid rgb(228, 79, 79);
}

.handwritten{
    font-family: 'Amatic SC', cursive;
    color: #fff;
}
/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-one:hover {
background-color: rgb(228, 79, 79);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(228, 79, 79);
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-two:hover {
border: 2px solid rgb(228, 79, 79);
text-decoration: none;
color: #fff;
background-color: transparent;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
background-color:#353A40;
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 1px solid #fff;
}

.navbar-inverse .navbar-nav > li > a {
font-size: 12px;
font-weight: 800;
padding: 5px 0px;
letter-spacing: 2px;
margin: 10px 20px 10px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-weight: 900;
font-family: 'Oswald', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #006632;
}
.navbar-inverse .navbar-toggle {
border-color: #006632;
}


/* =============================================================
HOME SECTION STYLES
============================================================ */

#home {
height: 100%;
text-align: center;
padding: 5%;
background-color: #494949;
/*background-image: url("../img/site3.jpg");*/
overflow-y: hidden;
background-size: 100% 100%;
}

#home .social {
display: block;
margin: 50px 20px;
}

/*Carousel Slider*/

#carousel-slider {
padding: 50px 20px 5px 50px;
}

#carousel-slider h3 {
line-height: 50px;
font-family: 'Oswald', sans-serif;
}

#carousel-slider p {
font-size: 16px;
line-height: 25px;
margin: 25px 20px;
}



/*============================
ABOUT SECTION STYLES
==============================*/

#aboutus{
    height: 100%;
    padding-top: 120px;
    background-color: #000;
}
.light-aboutus {
margin-bottom: 30px;
margin-top: 50px;
text-align: center;
box-shadow: 0 0 5px rgba(0, 0, 0, .5);
background-color: rgba(255, 255, 255, 0.1);
color: #fff;
line-height: 30px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.light-aboutus:hover {
background-color: transparent;
}

.light-aboutus ul {
list-style: none;
margin: 0;
text-align: center;
padding-left: 0px;
}

.light-aboutus ul li {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.light-aboutus ul li i {
margin-right: 5px;
}


.light-aboutus .price {
padding: 40px 20px 20px 20px;
font-size: 60px;
font-weight: 900;
}

.light-aboutus .price small {
color: #000;
display: block;
font-size: 15px;
margin-top: 22px;
}

.light-aboutus .type {
background-color: rgba(0, 0, 0, 0.40);
padding: 30px 20px;
font-weight: 900;
text-transform: uppercase;
font-size: 30px;
color: rgb(228, 79, 79);
}

.light-aboutus .aboutus-footer {
padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
padding-left: 0;
padding-right: 0;
}

.light-aboutus.popular {
margin-top: 10px;
}

.light-aboutus.popular .price {
padding-top: 80px;
}





/*============================
CONTACT SECTION STYLES
==============================*/

#contact{
    padding-top: 80px;
    height: 100%;
    background-color: #669999;
}

#contact .contact-wrapper {

padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;

}

#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
padding-top:25px;
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}

/*============================
COURSES SECTION STYLES
==============================*/

#courses{
    padding: 5%;
    height: 100%;
    background-color: #38552A;
}

/*============================
CONTACT US SYMBOL STYLES
============================*/

.la-sym{
    font-size: 4em;
    margin: 10px;
    color:  #BFEA85;
    transition: all 0.2s linear;
}

.la-sym:hover{
    color: #006632;
}

/*=============================
        Course Box
===============================*/

.course{
    height:300px;
    width: 90%;
    position: relative;
    padding: 0;
    margin: 4%;
    cursor: pointer;
    opacity: 0.7;
    color: #006632;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.course:hover
{
    color:  #0F4D49;
    opacity: 1;
}

.course-name{
    position: absolute;
    background-color: rgba(255,255,255,.3);
    bottom: 1px;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
}

/*=========================
    Caster
========================*/
#caster{
    min-height: 100%;
    width: 100%;
}